<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="HTTP to HTTPS redirect" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Found" />
                </rule>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^([A-Z][A-Za-z0-9]*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?in={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^([^A-Z].*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="^/(index)\.php$" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Resources/Site/Code/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors errorMode="DetailedLocalOnly" />
    </system.webServer>
</configuration>
