/* CSS Document */

#dialog {
	position: absolute;
	left: 50%;
	top: 15%;
	width: 400px;
	height: 200px;
	background: #9933CC;
	z-index: 2;
	border-radius: 15px;
	padding: 10px;
	text-align: center;
}

#dialogTitle {
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	height: 25px;
	background: url('../images/background.gif');
	margin: -10px;
	padding-top: 5px;
}