/* CSS Document */

#dialog {
	display: none;
	position: absolute;
	left: 50%;
	top: 15%;
	width: 400px;
	height: 200px;
	background: white;
	z-index: 2;
	border-radius: 15px;
	padding: 10px;
	text-align: center;
}

#dialogTitle {
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	height: 12%;
	background: url('../images/background.gif');
	margin: -10px;
	padding-top: 5px;
	border-bottom: 2px solid black;
}

#dialogContent {
	background: #09C;
	border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;
	height: 90%;
	margin: 10px -10px;
	padding-top: 10px;
}