/* CSS Document */

/*&&&&&&&&&*/
/*&&Fonts&&*/
/*&&&&&&&&&*/

@font-face {
	font-family: Roboto;
	src: url('fonts/Roboto-Regular.ttf');
}

@font-face {
	font-family: Roboto-Italic;
	src: url('fonts/Roboto-Italic.ttf');
}

@font-face {
	font-family: Bebas;
	src: url('fonts/BebasNeue.otf');
}

@font-face {
	font-family: Coalition;
	src: url('fonts/Coalition_v2.ttf');
}

@font-face {
	font-family: Techno;
	src: url('fonts/TechnoHideo.ttf');
}

@font-face {
	font-family: Roboto-Thin;
	src: url('fonts/Roboto-Thin.ttf');
}

/*&&&&&&&&&&*/
/*Animations*/
/*&&&&&&&&&&*/

@-webkit-keyframes unveil {
	from{right: 0%;}
	to{right: 100%;}
}

.unveil {
	-webkit-animation: unveil 1s;
}


/*&&&&&&&&&&&&*/
/*Decalrations*/
/*&&&&&&&&&&&&*/

body {
	font-family: Roboto;
	background: #33B5E5;
	min-width: 1000px;
}

::selection {
	background: #FFBB33; /* Safari */
}
::-moz-selection {
	background: #FFBB33; /* Firefox */
}

#content {
	display: none;
	float: right;
	width: 75%;
}

#leftnav {
	display: none;
	width: 25%;
	height: 100%;
	position: fixed;
	background: black;
	margin: -8px;
	color: white;
	text-align: center;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	min-width: 300px;
}

.leftnavitem {
	font-size: 45px;
	text-decoration: none;
	font-family: Roboto-Italic;
	color: black;
	background: white;
	border-radius: 5px;
	padding: 5px;
	display:block;
	margin:auto;
	width:75%;
}

.leftnavitem:hover {
	background: orange;
}

#logo {
	font-size: 105px;
	margin: 10px;
}

.hr {
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 48%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(48%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 48%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 48%,rgba(255,255,255,0) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 48%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 48%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	margin: auto;
	border-radius: 100px;
}

.contentblock {
	width: 85%;
	text-align: center;
	background-color: black;
	color: white;
	margin: auto;
	margin-bottom: 25px;
	border-radius: 5px;
	padding-bottom: 10px;
}

input {
	width: 92%;
}

#loginbox {
	background: #363535;
	width: 400px;
	height: 300px;
	margin: auto;
	color: 
	white;
	border-radius: 15px;
	padding: 13px;
	margin-top: 50px;
	text-align: center;
}

#logintitle {
	font-family: Roboto-Italic;
	font-size: 60px;
	margin: 0px;
}

.logininput {
	border: 0px;
	height: 31px;
	border-radius: 5px;
	font-family: Roboto-Italic;
	font-size: 14pt;
	padding: 4px;
}

.admintable th,tr {
	border:1px solid white;
	margin:auto; 
	color:#fff;
	border-radius:2px;
}

.admintable {
	width:98%;
	margin:auto;
	border-radius:2px;
}

.admintable td {
	margin:auto;
}
.admintable td input {
	width:100%;
	margin:auto;
}