/* CSS Document */

@font-face {
  font-family: VirtualDJ;
  src: url(fonts/VirtualDJ.ttf);
}

@font-face {
  font-family: Bebas;
  src: url(fonts/BebasNeue.otf);
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto.ttf);
}

@font-face {
  font-family: RobotoThin;
  src: url(fonts/RobotoThin.ttf);
}

@font-face {
  font-family: Robotica;
  src: url(fonts/Robotica.ttf);
}

@font-face {
  font-family: SiteFont;
  src: url(fonts/SiteFont.ttf);
}

@font-face {
  font-family: SiteFontIE;
  src: url(fonts/SiteFont.eot);
}

::selection {
	background: #33B5E5; /* Safari */
}

::-moz-selection {
	background: #33B5E5; /* Firefox */
}

/* Tags */
body {
	/*background: #CCD;*/
	background: url('images/Elements/background.gif');
	text-align: center;
	font-family: SiteFont, SiteFontIE;
	font-size: 16px;
	min-width: 950px;
}

p {
	line-height: 100%;
}

a {
	color: #09F;
	/*color:#FFF;*/
	text-decoration:none;
}

a, img {
    border: none;
}

/* IDs */
#website {
	width: 900px;
	margin: auto;
	/*background: #000;*/
	border: 8px solid #FFF;
	box-shadow:0px 0px 10px #000000;
	margin-top: 25px;
	overflow: hidden;
	background: url('images/Elements/background.png');
	position: relative;
	z-index: 0;
}

#content {
	text-align: center;
	padding-bottom: 60px;
}

#mobilecontent {
	display: none;
}

/*
#nav {
	height: 125px;
	width: 100%;
	background: url('http://error3130.org/zenphoto/albums/2011-Nationals/RoboticsNationals-41-.jpg');
}
*/

#logo {
	float: left;
	height: 130px;
	position: relative;
	z-index: 1;
}

#csbcontainer {
	margin: auto;
	height: 125px;
	width: 765px;
	position: relative;
	top: 25px;
	margin-bottom: 50px;
}

#slide ul {
    list-style-type: none;
}

#box {
	background-color:#ffffff;
	border-width:2px;
	border-color:#999999;
	border-radius:15px;
	box-shadow:0px 0px 90px #000000;
	/*--IE9 DOES NOT SUPPORT GRADIENT BACKGROUNDS--*/
	width: 100px;
	height: 100px;
	padding-right: 2px; 
	margin: auto;
	display: none;
}

#boxclose {
	float: right; 
	margin: 0px; 
	position: relative; 
	top: -14px; 
	left: 15px;
}

#video1 {
	width: 672px;
	height: 410px;
	border:  0px;
	margin: -15px;
}

#video2 {
	width: 672px;
	height: 410px;
	border:  0px;
	margin: -15px;
}

#newsbox {
	width: 540px;
	height: 360px;
	background: white;
	margin: auto;
	padding: 15px;
	border-radius:5px;
	box-shadow:0px 0px 90px #000000;
}

#newsFeed {
	height: 400px;
}

#article1 {
	border-top-left-radius: 5px;
}

#article8 {
	border-bottom-left-radius: 5px;
	border-bottom: 0px;
}

#footer {
	width: 100%;
	height: 211px;
	margin-top: 0px;
	background: url('/images/slideshow/footer/1.png');
	color: #FFF;
	z-index: 1;
	position: relative;
}

#sociallinks {
	float: left;
	width: 325px;
	height: 211px;
	background: url('images/Elements/footer.svg');
	position: relative;
	z-index: 2;
}

#contenttitle {
	font-family: Arial Black, Gadget, sans-serif;
	color: #000;
	margin: 0px;
	margin-right: 430px;
	margin-bottom: -15px;
	font-variant: small-caps;
}

#footerTable {
	width: 100%;
	height: 100%;
}

#articleSelector {
	background: black;
    width: 195px;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
	opacity: 0.8;
}

#articleText {
	margin-top: -400px;
	width: 568px;
	margin-left: 195px;
	color: white;
	background: #78A600;
	opacity: 0.9;
	border-top-right-radius: 5px;
	padding-right: 5px;
}

#teaminfo {
	float: left;
	background: #222;
	width: 63%;
	height: 390px;
	/*margin-left: -25px;*/
	color: white;
	border-radius: 5px;
	/*border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;*/
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;

}

#gameDescription {
	background: #222;
	color: white;
	width: 450px;
	text-align: left;
	padding: 10px;
	margin-top: 30px;
	border-radius: 5px;
	
}

#swooshtitle {
    position: relative;
    top: 35px;
    left: -55px;
}

	
#contentStatBox {
	float: left;
	width: 200px;
	height: 100%;
	background: #002D74;
	margin-left: 35px;
	color: white;
	text-align: left;
	border-radius: 5px;
	padding: 5px;
}

#contentArticle {
	float: right;
	width: 400px;
	height: 100%;
	background: black;
	padding: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	text-align: left;
	color: white;
	margin-right: 226px;
}

#articleImg {
	width: 666px;
	height: 165px;
	margin-left: -25px;
}

#leftnav {
	position: fixed;
	color: white;
	margin-left: -25px;
	margin-top: -34px;
	width: 240px;
	z-index: 1;
	text-align: left;
	padding-left: 10px;
	
}


#rightcontent {
	overflow: hidden;
	width: 650px;
	margin-left: 225px;
	margin-top: -35px;
	margin-bottom: -20px;
	border-left: 5px solid white;
	background: #eee;
}

#pagetitle{
	font-size: 45px;
	margin-top: 15px;
	border-bottom: 10px solid #FC0;
}

#nasa {
	margin-left: 50px; 
	margin-top: 4px;
}

#jcpenny {
	margin-left: 142px; 
	margin-top: 30px; 
	width: 200px;
}

#mpapa {
	margin-left: 26px; 
	margin-top: 32px;
}

#moresponsors {
	position: relative; 
	top: 45px; 
	color: white;
}

#jcpennyfooter {
	margin: -10px;
}

#nasafooter {
	margin: 3px;
}

#firsttw {
	float: right; 
	width: 250px;
}

#abouttheteam {
	margin-top: 50px; 
	height: 390px;
}

#headnav {
	top: 142px;
}

#footernav {

	bottom: 261px;
	z-index:1;
	
	/* Rotated opposite top banner
	bottom: 273px;
	z-index: 1;
	transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	*/

}

#team1 {
}

#team2 {
    display: none;
}

#team3 {
    display: none;
}

#team4 {
    display: none;
}

#robotImage {
    width: 350px;
    height: 500px;
    background: black;
    margin: 25px;
    float: left;
}

#robotContent {
    width: 450px;
    height: 500px;
    background: gray;
    float: left;
    margin: 25px;
    border-radius: 5px;
}

/* Classes */
/*
.frontnav {
	background: #CCC;
	width: %15;
	margin-left: %2.5;
	margin-right: %2.5;
	margin-top: 200px;
}
*/

.headerimg {
    position: relative;
}

.contentblock {
	width: 768px;
	height: 432px;
	margin: auto;
	background: #FFF;
	border-radius: 5px;
	position: relative;
	top: 10px;
}

.floating {
	position: relative;
	border-radius: 3px;
	padding: 5px;
}

.contentArrows {
	position: relative;
	top: 375px;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	z-index: 5;
}

.contentsubblock {
	width: 175px;
	height: 125px;
	float: left;
	background: #FFF;
	position: relative;
	margin: 8px;
	border-radius: 10px;
}

.contentblock2 {
	width: 550px;
	height: 300px;
	border-radius: 5px;
	color: #000;
	margin: auto;
	}

.quicklinks {
    width: 80%;
    background: black;
    margin: auto;
    border: 1px solid #E79200;
    color: white;
}

.quicklinks:hover {
    background: white;
    color: black;
}

.sponsor {
	margin-top: 55px;
	width: 80%;
}

.newnav {
	width: 950px;
	height: 55px;
	margin: auto;
	background: url('/images/Elements/navThin.png');
	margin-bottom: -75px;
	z-index: 4;
	position: relative;
	font-family: Bebas;
	font-size: 20px;
}

.newnavitem {
	color: white;
    position: relative;
    top: 11px;
    padding-right: 19px;
    padding-left: 21px;
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.newnavitem:hover {
	color: orange;
}

.articleItem {
	color: white;
	text-align: center;
	padding: 15px;
	margin: 0px;
	height: 19px;
	border-bottom: 1px solid white;
}

.articleItem:hover {
	background: red;
}

.sponsors {
	width: 125px;
	float: left;
}

.titleimg {
    float: left;
    width: 180px;
    height: 100px;
    margin-left: 23px;
    margin-top: 5px;
}

.pagearticle {
	font-size: 125%;
	border-bottom: 6px solid #FFF; z-index: 4;
}

.pagearticleactive {
	font-size: 125%;
	border-bottom: 6px solid #09F;
	z-index: 4;
}

.pagearticle:hover {
	border-bottom: 6px solid #33FF00;
	z-index: 5;
}

.biosEntry {
	color: white;
	background: #0B2161;
	margin-right: -25px;
	margin-top: 6px;
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 8px;
	padding-right: 8px;
	line-height: 130%;
}

.biosQuestions {
	text-align: left;
	padding-left: 45px;
	margin-right: 50px;
	width: 90%;
	list-style-type: none;
}

.biosImage {
	width: 200px;
	margin-left: 44px;
	float: left;
	margin-right: 47px;
	border: 5px solid white;
}

.robotBlurb {
	color: white;
	background: #222;
	width: 90%;
	border-radius: 5px;
	text-align: left;
	margin: 15px;
	padding: 5px 10px;
	/* float:left;*/
	
}

.navEnabled {
	background: black;
}

.navLink {
	color: #FFF;
}

.fillFrame {
	width: 100%;
	height: 650px;
}

.twtr-doc {
	width: 100%;
}

.navDisabled {
	padding: 25px;
	padding-top: 75px;
}

.navEnabled {
	padding: 25px;
	padding-top: 75px;
}

.socialitem {
	width: 170px;
	margin-left: -45px;
}

.split {
	width: 900px;
	height: 75px;
	margin-left: -25px;
	margin-top: 50px;
	background: url('images/Elements/split.svg');
	padding-top: 25px;
	font-family: Bebas;
	color: white;
	font-size: 42pt;
	padding-left: 10px;
}

.splittext {
	margin: 0px;
}

.slidenav {
	background: url('images/Articles/Temp.png');
	height: 330px;
	margin: -25px;
}

.slidenavinfo {
	background: url('images/Elements/slidenavinfo.svg');
	color: white;
	text-align: right;
	padding: 0px 20px;
	width: 300px;
	height: 330px;
	float: right;
}

.slidenavinfo h1 {
	font-family: Bebas;
	font-size: 59px;
	margin: 0px;
}

.slidenavinfo h2 {
	font-family: Bebas;
	margin-top: -17px;
	font-size: 30px;
}

.slidenavinfo p {
	width: 250px;
	float: right;
	text-align: left;
	margin-top: 25px;
	margin-right: 20px;
}

.slidenavinfo a {
	float: left;
	margin-left: 10px;
}

.metronav {
	margin: 25px;
}

.metroitem {
	float: left;
	width: 242px;
	height: 150px;
	margin: 12px;
    box-shadow: 0px 2px 5px gray;
    border-radius: 5px;
}

.metroarrow {
	float: right;
	margin-top: 0px;
	margin-right: 6px;
}

.metrodescription {
	background: gray;
	margin-top: 0px;
	height: 20px;
	color: white;
	text-align: left;
	padding-left: 5px;
	padding-top: 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.metrodescription:hover {
	color: black;
	background: white;
}

.interactive {
	background: #1B75BB;
	height: 400px;
	margin: -25px;
	margin-bottom: -10px;
    overflow: hidden;
    color: white;
}

.selectbar {
    margin-top: 55px;
    background: #333;
    color: white;
    padding-bottom: 1px;
}

/* Programing Slide thingy */
.panel
{
margin: 0px;
padding: 5px;
text-align: left;
background: #002s74;
border: solid 1px #002s74;
}

.flip
{
margin:0px;
padding:5px;
text-align:center;
background: #002s74;
border:solid 1px #002s74;
}

.panel
{
height:120px;
display:none;
}

#videobox {
width: 320px;
height: auto;
}

/*Sponsors.php*/
#banner {
	background:#0065B3;
	width: 100%;
	color: #FFFFFF; 
	border-top-right-radius: 3px; 
	border-top-left-radius: 3px
}

#simages {
width: 100%; 
background-color: white; 
margin-top: -16px; 
padding-bottom: 20px
}

#sponsor1 {
position:relative;
height:236px;
top:10px;
}

#sponsor2 {
position:relative;
height:154px;
top:10px;
}

#sponsor3 {
position:relative;
height:158px;
top:10px;
}

#sjcp {
width:430px;
padding:10px;
display:block;
position:absolute;
top:50%;
margin-top:-50px;
left:0px;
height:100px;
}

#snasa {
width:430px;
padding:10px;
display:block;
position:absolute;
top:50%;
margin-top:-118px;
right:0px;
height:236px;
}

#saet {
width: 450px;
position: absolute;
display: block;
left: 0px;
top: 50%;
margin-top: -77px;
height: 154px;
}

#ssmc {
width: 450px;
display: block;
height: 142px;
position: absolute;
right: 0px;
top: 50%;
margin-top: 65px;
}

#sreell {
width: 450px;
position: absolute;
display: block;
left: 0px;
height: 158px;
top: 50%;
margin-top: -79px;
}

#smpapa {
width: 450px;
position: absolute;
display: block;
right: 0px;
height: 118px;
top: 50%;
margin-top: -59px;
}

.NASA {
width:100%
}

.smc {
width:40%
}

.jcpenney {
width:40%
}

.aetrium {
width:40%
}

.reel {
width:40%
}

.mpapa {
width:40%
}

#floatMenu {
	position: fixed;
	color: white;
	margin-left: -25px;
	margin-top: -34px;
	width: 240px;
	z-index: 1;
	text-align: left;
	padding-left: 10px;*/
}
 
#floatMenu ul {  
    margin-bottom:20px;  
	list-style-type: none;
	padding:5px 5px 5px 0px;
} 

#floatMenu ul li a {  
    display:block;   
    background-color: black;    
    text-decoration:none;  
    color:white;  
    padding:5px 5px 5px 0px; 
}
 /*Bios.php*/
 #slideTo {
	list-style-type: none;
 }
 


