/* CSS Document */

/*&&&&&&&&&*/
/*&&Fonts&&*/
/*&&&&&&&&&*/

@font-face {
	font-family: Roboto;
	src: url('fonts/Roboto-Regular.ttf');
}

@font-face {
	font-family: Roboto-Italic;
	src: url('fonts/Roboto-Italic.ttf');
}

@font-face {
	font-family: Bebas;
	src: url('fonts/BebasNeue.otf');
}

@font-face {
	font-family: Coalition;
	src: url('fonts/Coalition_v2.ttf');
}

@font-face {
	font-family: Techno;
	src: url('fonts/TechnoHideo.ttf');
}

@font-face {
	font-family: Roboto-Thin;
	src: url('fonts/Roboto-Thin.ttf');
}

/*&&&&&&&&&&*/
/*Animations*/
/*&&&&&&&&&&*/

@-webkit-keyframes unveil {
	from{right: 0%;}
	to{right: 100%;}
}

.unveil {
	-webkit-animation: unveil 1s;
}


/*&&&&&&&&&&&&*/
/*Decalrations*/
/*&&&&&&&&&&&&*/

body {
	font-family: Roboto;
	background: #33B5E5;
}

#content {
	display: none;
	float: right;
}

#splashtext {
	font-family: Roboto-Italic;
	font-size: 1000%;
	color: white;
	position: fixed;
	right: 25px;
	bottom: -130px;
}

#splashcontinue {
	position: fixed;
	right: 0px;
	width: 220px;
	top: 25%;
	display: none;
}

#leftnav {
	display: none;
	width: 250px;
	height: 100%;
	position: fixed;
	background: black;
	margin: -8px;
	color: white;
}